body{
    background-image: url(/img/bg.jpg);
    background-color: rgba(1,0,20,1);
    background-repeat: repeat-x;
}

.logomainup {
    margin-top: 80px;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: default;
}

.logotopDWS
{
    display: block;
    margin-left: auto;
    max-width: 790px;
    margin-right: auto;
}

.costumbtn
{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.backgreen
{
    background-color: darkgreen;
}
.backgreen:hover
{
    background-color: green;
}

.backslateblue
{
   background-color: darkslateblue; 
}
.backslateblue:hover
{
   background-color: slateblue; 
}

.backslategray
{
    background-color: darkslategray;
}
.backslategray:hover
{
    background-color: slategray;
}

.smalltext 
{
    font-size: 14px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/font/material-design-icons/1.woff2) format('woff2');
}

.icondownloadback
{
    background-image: url(/img/icons/file_download.svg);
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    background-position: center;
}

.icondownloadcloud
{
    background-image: url(/img/icons/download_cloud.svg);
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    background-position: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.noselect {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.containermain {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    border: 4px solid rgba(40,40,40,0.1);
    background-color: rgba(2, 10, 50, 0.96);
    color: rgba(200,200,200,1);
}